
.artist-bubble:hover{
  background: #dfdfdf;
}

.artist-bubble{
  margin-top: 8px;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  border: 1px solid black;  
}
