.dashboard-home{
  flex: 1;
  display: flex;
  background: #efefef;
}

.dashboard-home .MuiPaper-root{
  margin: 4px;
}

.main-col{
  flex: 0.7;
  flex-direction: column;
  display: flex;
} 

.feed-col{
  flex: 0.3;
  display: flex;
}
