.image-selector_item {
  position: relative;

}

.image-selector_item svg{
    border-radius: 25px;
    background: rgba(255, 232, 232, 0.6);
    box-shadow: 0px 5px 10px -5px grey;    
    cursor: pointer;
  position: absolute; 
  right: 0px;
  top: 0px;
}

.image-selector svg{
  height: 70px;
  width: 70px;
  justify-self: center;
}

.image-selector img{
  width: 200px;
  margin: 4px;
  height: 200px;
}

.image-selector {
  display: flex;
  border: 2px dashed #dfdfdf;
  border-radius: 7px;
}
